@import url(reset_1.css);
@import url(normalize_1.css);
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&display=swap");
@font-face {
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0; }

.container {
  max-width: 1440px;
  margin: auto;
  width: 100%; }

header {
  padding: 16px;
  background-color: #FFFFFF; }
  header .container {
    max-width: 1440px;
    margin: auto;
    background-color: #FFFFFF; }
  header .logo img {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%); }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 188px;
    padding-left: 182px; }
    header nav ul {
      display: flex;
      align-items: center; }
      header nav ul a {
        color: #1C1B1B;
        font-size: 16px;
        font-family: 'roboto';
        font-style: normal;
        font-weight: 700;
        line-height: 26.4px;
        text-decoration: none;
        margin-right: 28px; }
        header nav ul a:hover {
          text-decoration: underline; }
  @media screen and (max-width: 1180px) {
    header nav ul {
      display: block; } }

.menu_item {
  display: flex;
  align-items: center; }
  .menu_item img {
    margin-left: 7px; }
    .menu_item img:first-of-type {
      margin-left: 15px; }
    .menu_item img:hover {
      background-color: #D6D6D6; }

.first_banner {
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 164px;
  background-color: #F0EFEB;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .first_banner h1 {
    font-family: 'roboto';
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px; }
  .first_banner p {
    font-family: 'roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px; }
  .first_banner a {
    font-family: 'roboto';
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    background: #000000;
    border-radius: 14px;
    padding: 11px 28px; }

.guides_sellers {
  background-color: #FFFFFF;
  padding-top: 60px; }

.guides_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 87px; }
  .guides_info h2 {
    font-family: 'roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px; }
  .guides_info p {
    font-family: 'roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-right: 207px;
    margin-left: 207px; }
    .guides_info p:first-of-type {
      margin-bottom: 47px; }

.sellers_info h2 {
  font-family: 'roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  display: flex;
  justify-content: center;
  margin-bottom: 52px; }

.sellers_photo {
  justify-content: center;
  list-style: none; }
  .sellers_photo .person {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 248px; }
    .sellers_photo .person img {
      margin-bottom: 27px; }
    .sellers_photo .person p {
      font-family: 'roboto';
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: #000000; }
      .sellers_photo .person p:first-of-type {
        font-family: 'roboto';
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        margin-bottom: 17px; }
    .sellers_photo .person button {
      font-family: 'roboto';
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      color: #000000;
      margin-top: 11px;
      border: none;
      text-decoration: underline;
      background: transparent; }

.direct {
  background-color: #CCCCCC; }

.direct_descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 76px;
  padding-bottom: 51px;
  padding-left: 188px;
  padding-right: 108px; }
  .direct_descr:first-of-type {
    background-color: #F0EFEB; }
  .direct_descr:last-of-type {
    background-color: #F0EFEB; }
  .direct_descr a {
    margin-right: 50px;
    margin-left: 50px; }
    .direct_descr a img {
      border-radius: 5%; }
  .direct_descr h2 {
    font-family: 'roboto';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000; }
    .direct_descr h2:first-of-type {
      font-family: 'roboto';
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      color: #000000; }
  @media screen and (max-width: 1180px) {
    .direct_descr h2 {
      font-size: 28px; } }
  .direct_descr button {
    font-family: 'roboto';
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-top: 11px;
    border: none;
    text-decoration: underline;
    background: transparent; }
